body {
    background-color:#F0E9FF;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.42857143;
    color: #545454;
}

hr {
    border-style:none; 
    border-top-style:dotted; 
    border-color:aliceblue; 
    border-width:8px;
    width:5%;
}

h1 {
   color:#CEA9FF
}

h2 {
    color:#CEA9FF;
}
img {
    width:150px;
    height:150px;
}
.contactme {
    color:#CEA9FF;

}
